$colors-light-accent: #18A0FB;
$colors-light-error: #FF3E1D;
$colors-light-success: #00D200;
$colors-dark-light-gray: #878787;
$colors-light-description-color: #2C2C2C;
$font-color-white: #ffffff;
$border-color: #E0E0E0;