mixin button-download()

    button.small-buttons__element5 Download
        svg.small-buttons__svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    button.small-buttons__element6 Download
        svg.small-buttons__svg6(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    button.small-buttons__element7 Download
        svg.small-buttons__svg7(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    button.small-buttons__element8 Download
        svg.small-buttons__svg8(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")