mixin download-button()

    button.big-buttons__element9
        svg.big-buttons__svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        |Download
    button.big-buttons__element10
        svg.big-buttons__svg10(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        |Download
    button.big-buttons__element11
        svg.big-buttons__svg11(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        |Download
    button.big-buttons__element12
        svg.big-buttons__svg12(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4 12V19H20V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 3.50073L12 13.5007" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L15.375 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            path(d="M12 13.5007L8.625 10.1257" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
        |Download
